<nav>
    <small>
        <a data-action="competency-dialogue" href="#" data-id="{{id}}">{{framework.name}}</a>
        /
        {{#ancestors}}
            <a data-action="competency-dialogue" href="#" data-id="{{id}}">{{name}}</a>
            {{^last}}<span> / </span>{{/last}}
        {{/ancestors}}
    </small>
</nav>
