<a
    data-container="body" data-toggle="popover"
    data-placement="right" data-content="{{text}}"
    data-html="true" tabindex="0" data-trigger="click">
  {{#pix}}help, core, {{alt}}{{/pix}}
</a>
